/CurriculumVitae.aux
/CurriculumVitae.bbl
/CurriculumVitae.bcf
/CurriculumVitae.blg
/CurriculumVitae.fdb_latexmk
/CurriculumVitae.fls
/CurriculumVitae.log
/CurriculumVitae.run.xml
/CurriculumVitae.synctex.gz